In [1]:
import pandas as pd

In [6]:
#задание 1
log = pd.read_csv('visit_log.csv', sep=';')

In [7]:
log.loc[(log.traffic_source == 'yandex') | (log.traffic_source == 'google'), 'source_type'] = 'organic'
#log.loc[log.traffic_source == 'google', 'source_type'] = 'organic'
log.loc[(log.traffic_source == 'paid') & (log.region == 'Russia'), 'source_type'] = 'ad'
log.loc[(log.traffic_source == 'email') & (log.region == 'Russia'), 'source_type'] = 'ad'
log.loc[(log.traffic_source == 'paid') & (log.region != 'Russia'), 'source_type'] = 'ad'
log.loc[(log.traffic_source == 'email') & (log.region != 'Russia'), 'source_type'] = 'ad'
log.source_type.fillna(log.traffic_source, inplace=True)

In [9]:
log.head()

,timestamp,visit_id,url,region,user_id,traffic_source,source_type
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex,organic
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct,direct
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex,organic
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex,organic
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex,organic

In [25]:
#задание 2
urls = pd.read_csv('URLs.txt')

In [26]:
urls.drop(urls[~urls.url.str.contains(r'(/\d{8}-)', regex=True)].index)

C:\Users\ros\anaconda3\lib\site-packages\pandas\core\strings.py:2001: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

                                                  url
3   /politics/36188461-s-marta-zhizn-rossiyan-susc...
4   /world/36007585-tramp-pridumal-kak-reshit-ukra...
5   /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6   /video/36001498-poyavilis-pervye-podrobnosti-g...
7   /world/36007585-tramp-pridumal-kak-reshit-ukra...
..                                                ...
88  /cis/35984145-kreml-prokommentiroval-soobschen...
89  /video/36071019-olimpiyskie-obekty-rio-prevrat...
90  /science/36151301-nazvano-posledstvie-zloupotr...
91  /incidents/36027330-vospitatelnitsu-zatravili-...
92  /world/36103095-dominikanskih-zhurnalistov-ubi...

[84 rows x 1 columns]

In [30]:
#задание 3
rate = pd.read_csv('ratings.csv', sep=',')

In [38]:
df = rate.groupby(['userId']).agg({'movieId': 'count', 'timestamp': ['max', 'min']})

In [43]:
df

       movieId   timestamp
         count         max         min
userId
1           20  1260759205  1260759108
2           76   835356246   835355395
3           51  1298932787  1298861589
4          204   949982274   949778714
5          100  1163375145  1163373044
...        ...         ...         ...
667         68   847272234   847271220
668         20   993613478   993613196
669         37  1015829766  1015829081
670         31   940944033   938781328
671        115  1074784735  1063500751

[671 rows x 3 columns]

In [47]:
df = df[df.movieId['count'] > 100]

In [48]:
df['lifetime'] = df.timestamp['max'] - df.timestamp['min']

<ipython-input-48-e9ca4e75c3af>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['lifetime'] = df.timestamp['max'] - df.timestamp['min']

In [51]:
df.lifetime.mean()/60/60/24 #в днях

463.89476214829165

In [52]:
#задание 4
rzd = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115],
        'rzd_revenue': [1093, 2810, 10283, 5774, 981]
    }
)
auto = pd.DataFrame(
    {
        'client_id': [113, 114, 115, 116, 117],
        'auto_revenue': [57483, 83, 912, 4834, 98]
    }
)
air = pd.DataFrame(
    {
        'client_id': [115, 116, 117, 118],
        'air_revenue': [81, 4, 13, 173]
    }
)
client_base = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115, 116, 117, 118],
        'address': ['Комсомольская 4', 'Энтузиастов 8а', 'Левобережная 1а', 'Мира 14', 'ЗЖБИиДК 1', 
                    'Строителей 18', 'Панфиловская 33', 'Мастеркова 4']
    }
)

In [58]:
dg = client_base.merge(rzd, on='client_id', how='left')

In [59]:
dg = dg.merge(auto, on='client_id', how='left')

In [60]:
dg = dg.merge(air, on='client_id', how='left')

In [62]:
#с адресами
dg

   client_id          address  rzd_revenue  auto_revenue  air_revenue
0        111  Комсомольская 4       1093.0           NaN          NaN
1        112   Энтузиастов 8а       2810.0           NaN          NaN
2        113  Левобережная 1а      10283.0       57483.0          NaN
3        114          Мира 14       5774.0          83.0          NaN
4        115        ЗЖБИиДК 1        981.0         912.0         81.0
5        116    Строителей 18          NaN        4834.0          4.0
6        117  Панфиловская 33          NaN          98.0         13.0
7        118     Мастеркова 4          NaN           NaN        173.0

In [63]:
#без адресов
dg.drop('address',axis=1)

   client_id  rzd_revenue  auto_revenue  air_revenue
0        111       1093.0           NaN          NaN
1        112       2810.0           NaN          NaN
2        113      10283.0       57483.0          NaN
3        114       5774.0          83.0          NaN
4        115        981.0         912.0         81.0
5        116          NaN        4834.0          4.0
6        117          NaN          98.0         13.0
7        118          NaN           NaN        173.0